{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <form action="/compare" method="post" >
            <input type="submit" value="Envoyer">
            <table class="display w-100">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Nom</th>
                        <th>Équipe</th>
                        <th>Sélection</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in data %}
                    <tr>
                        <td>{{ player.first_name }}</td>
                        <td>{{ player.last_name }}</td>
                        <td>{{ player.team.name }}
                        <td><input type="checkbox" name="checkboxArray[{{ player.first_name ~ ' ' ~ player.last_name }}]" value="{{ player.id }}"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('table.display').DataTable();
    } );
</script>
{% endblock %}